<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${question.title}">个人中心</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="/css/community.css" th:href="@{/css/community.css}">
    <link rel="stylesheet" href="editormd/css/editormd.preview.css" th:href="@{/editormd/css/editormd.preview.css}"/>
    <script type="application/javascript" src="/js/jquery-3.4.0.min.js" th:src="@{/js/jquery-3.4.0.min.js}"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="application/javascript" src="/js/moment.min.js" th:src="@{/js/moment.min.js}"></script>
    <script th:src="@{/editormd/editormd.js}"></script>
    <script th:src="@{/editormd/lib/marked.min.js}"></script>
    <script th:src="@{/editormd/lib/prettify.min.js}"></script>
    <script type="application/javascript" src="/js/community.js" th:src="@{/js/community.js}"></script>
</head>
<body>
<div th:replace="common/navigation :: nav"></div>
<div class="container-fluid main profile">
    <div class="row">
        <!--左边主要内容-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="question-title"><span th:text="${question.title}"></span></h4>
                <span class="text-desc">
                    作者：<span th:text="${question.user.name}"></span> |
                    发布时间：<span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span> |
                    阅读数：<span th:text="${question.viewCount}"></span>
                </span>
                <!--描述-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                    <textarea th:text="${question.description}" style="display:none;"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        editormd.markdownToHTML("question-view", {});
                    });
                </script>
                <!--标签-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="label label-info question-tag" th:each="tag: ${#strings.arraySplit(question.tag, ',')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span th:text="${tag}"></span>
                    </span>
                </div>
                <!--编辑-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a th:href="@{/publish/{id}(id=${question.id})}" class="community-menu"
                       th:if="${session.loginUser != null && session.loginUser.id == question.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                    </a>
                </div>
            </div>

            <!--评论列表-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    <span th:text="${question.commentCount}"></span>个回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment : ${comments}">
                    <div class="media" >
                        <div class="media-left">
                        <span href="#">
                            <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}">
                        </span>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h5>
                            <div th:text="${comment.content}"></div>
                            <div class="menu" th:id="${'comment-body-'+comment.id}">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <span class="icon" th:data-id="${comment.id}" onclick="collapseComments(this)">
                                    <span class="glyphicon glyphicon-comment"></span><span th:text="${comment.commentCount}"></span>
                                </span>
                                <span class="pull-right" th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd hh:MM:ss')}"></span>
                            </div>
                            <!--二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments" th:id="${'comment-'+comment.id}">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="评论一下..." th:id="${'input-'+comment.id}">
                                    <button type="button" class="btn btn-success btn-sm pull-right" onclick="sub_comment(this)" th:data-id="${comment.id}">评论</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--回复-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    提交回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                    <div class="media" >
                        <div class="media-left">
                            <span href="#">
                                <img class="media-object img-rounded" th:src="${session.loginUser != null} ? ${session.loginUser.avatarUrl} : '/img/default-avatar.png'">
                            </span>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${session.loginUser != null} ? ${session.loginUser.name} : '请登录后评论'"></span>
                            </h5>
                        </div>
                    </div>
                    <input type="hidden" id="question_id" th:value="${question.id}">
                    <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                    <button type="button" class="btn btn-success btn-comment" onclick="post_comment()">回复</button>
                </div>
            </div>
        </div>
        <!--右边主要内容-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media" >
                    <div class="media-left">
                        <span href="#">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                        </span>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <!--other-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>推荐</h4>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img th:src="@{/img/wallpaper00.jpg}" class="img-thumbnail img-responsive">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img th:src="@{/img/wallpaper01.jpg}" class="img-thumbnail img-responsive">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img th:src="@{/img/wallpaper02.jpg}" class="img-thumbnail img-responsive">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img th:src="@{/img/wallpaper03.jpg}" class="img-thumbnail img-responsive">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img th:src="@{/img/wallpaper04.jpg}" class="img-thumbnail img-responsive">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img th:src="@{/img/wallpaper05.jpg}" class="img-thumbnail img-responsive">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img th:src="@{/img/wallpaper06.jpg}" class="img-thumbnail img-responsive">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img th:src="@{/img/wallpaper07.jpg}" class="img-thumbnail img-responsive">
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--相关问题-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <ul class="question-related">
                    <li th:each="related:${relatedQuestions}">
                        <a href="" th:href="@{/question/{id}(id=${related.id})}" th:text="${related.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>